@import url(font.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: url('../assets/images/Untitled.png') ; */
}


h1 {
    font-size: 40px;
    color: #000;
}

/* =====    Header Styling  ===== */
/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    color: #fff;
    padding: 10px 20px;
    height: 50px;
  }
  
  .header-text {
    width: 80%;
    font-size: 14px;
    font-weight: 500;
  }

  .header-text {
    gap: 1rem;
  }

  .header-text>span:nth-child(3)
  {
    border-left: 1px solid black;
    padding-left: 5px;
    height: 20px;
    font-size: 12px;
  }

  .h-button {
    border: none;
    background-color: #FF4F03;
    color: #fff;
    height: 30px;
    width: 318px;
    transition: 0.8s;
  }

  .h-button:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0 );
  }

  .h-button>a {
    font-size: 12px;
  }
  
  .social-media-icons {
    display: flex;
    align-items: center;
  }
  
  .social-media-icons a {
    text-decoration: none;
    margin-right: 10px;
  }
  
  .social-media-icons img {
    width: 20px;
    height: 20px;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
      text-align: center;
    }
  
    .header-text {
      width: 100%;
      margin-bottom: 10px;
    }
  }


/* =====    Navbar Styling  ===== */

.logo {
    margin-left: 25px;
    height: 50px;
  }
.logo-foot {
    height: 50px;
  }

.navigation {
    /* background-color: rgb(228, 185, 132); */
    border-bottom: 3px solid rgb(228, 185, 132);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 1;
}

nav ul {
  display: flex;
}

nav ul li {
 list-style: none; 
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    margin-left: 15px;
    position: relative;
    color: var(--black);
  }
  
  .nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000; 
    transition: width 0.3s;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }

  .nav-image {
    height: 70px;
  }

  nav .menu {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 1.8rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #221313;
    border-radius: 0.2rem;
}

.title {
  height: 70px;
}

.title>img {
  height: 60px;
}


@media (max-width: 480px) {

    .navigation {
      position: relative;
    }

    .nav-links {
      background-color: rgb(228, 185, 132, 0.623);
      width: 100%;
      padding-top: 5px;
    }

    .nav-links a::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #000; 
      transition: width 0.3s;
    }
    
    .nav-links a:nth-child(1):hover::after {
      width: 50px;
    }
    .nav-links a:nth-child(2):hover::after {
      width: 54px;
    }
    .nav-links a:nth-child(3):hover::after {
      width: 52px;
    }
    .nav-links a:nth-child(4):hover::after {
      width: 65px;
    }
    .nav-links a:nth-child(5):hover::after {
      width: 76px;
    }

    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}

.home-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 0px;
}

.home-text>span {
  line-height: 50px;
  font-size: 50px;
  font-family : "League Spartan", sans-serif; 
  font-weight : 600;
  margin-bottom: 5px;
}

.text-reg {
  margin-top: 5px;
  height: 90px;
  width: 500px;
  background-color: var(--primary);
  border: none;
  transition: 0.7s;
}
.text-reg a{
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
}

.text-reg:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0 );
}

.h-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  width: 100%;
  margin: 1rem 0 1.5rem 0;
}


.h-links {
  font-size: 16px;
  color: black;
  margin-left: 5px;
  animation: blink 1s infinite alternate;
  margin-right: 20px;
}

.h-links:hover {
  color: orange;
  text-decoration: underline;
}
@keyframes blink {
  from {
    color: black;
  }
  to {
    color: orange;
  }
}

.banner {
  height: 420px;
  width: 100%;
  background-color: #000;
}

.banner-image {
  width: 100%;
  height: 100%;
}

.event-container {
  display: flex;
  flex-direction: column;
  gap: 1;
  margin-bottom: 10px;
}

.event-headers {
  display: flex;
  flex-direction: column;
  gap: 1;
}

.event-head {
  height: 80px;
  width: 90%;
  color: #000;
  border-bottom: 1px solid black;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
.event-head p{
  font-weight: 900px;
  font-size: 40px;
}

.e-text {
  width: 100%;
}

.event-subText {
  text-align: center;
  margin: 5px 0 10px 0;
  width: 100%;
}

.events {
  width: 80%;
}

.event-subText>p:nth-child(1) {
  width: 100%;
  height: 40px;
  font-size: 25px;
  font-weight: 600;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-items {
  margin: 10px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  text-align: center;
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: #f1eaea;
  margin: 0 auto;
}


/* Media Query for Tablet */
@media (max-width: 768px) {
  .home-main {
    width: 80%;
  }

  .text-reg {
    width: 150px;
  }

  .banner {
    height: 400px;
  }
}

/* Media Query for Mobile */
@media (max-width: 480px) {
  .home-main {
    width: 100%;
  }

  .text-reg {
    width: 150px;
  }

  .banner {
    height: 300px;
  }
}


  /* =====  Footer  ===== */
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 25px;
  }
  
  .red {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 10px;
  }

  .footer-text {
    width: 90%;
  }
  
  .blue {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 10px;
  }
  
  .green {
    width: 20%;
    margin-left: 10px;
  }

  .nav-bottom li {
    list-style-type: none;
    margin-top: 3px;
  }
 
  .nav-bottom a {
    text-decoration: none;
    color: #fff;
  }

  .nav-bottom a:hover {
    color: #A91C00;
  }

  .orange {
    width: 20%;
    margin-left: 10px;
  }
  
  .text-title {
    color: #A91C00;
  }

  .text-main {
    color: #fff;
    width: 80%;
  }

  /* Media query for tablets */
@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    bottom: 0;
  }

  .red,
  .blue,
  .green,
  .orange {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .text-main {
    width: 100%;
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {
  .footer {
    height: auto;
  }
}